<div class="container-fluid py-6 py-lg-7 py-xxl-8" id="contact">
    <div class="container-lg">
        <div class="bg-info p-5 d-flex flex-column gap-5 flex-md-row justify-content-between position-relative">
            <div>
                <h2 class="mb-3">
                    Kontaktujte nás
                </h2>

                <p class="mb-0 text-primary-300 fs-2">
                    Máte nějaké otázky, nebo chcete poptat naše služby?
                </p>
            </div>

            <div class="d-grid align-items-center d-sm-flex">
                <a href="{{ 'homepage'|page }}/#kontakt" class="btn btn-primary d-inline-flex align-items-center gap-2 text-nowrap">
                    Kontaktujte nás

                    <i class="ph ph-arrow-right d-none d-sm-inline-block"></i>
                </a>
            </div>

            <div class="bg position-absolute top-50 translate-middle h-100 d-none d-xxl-flex align-items-center justify-content-center">
                <img src="{{ 'assets/images/contact-bg.png'|theme }}" alt="bg">
            </div>
        </div>
    </div>
</div>
