{% set post = __SELF__.post %}
{% set image = post.featured_images.first %}

{% if image %}
    <div class="banner mb-5">
        <picture>
            <source media="(min-width:768px)" srcset="{{ image.thumb(page_settings.banner_lg_width, page_settings.banner_lg_height, {"mode": "crop"}) }}">

            <img src="{{ image.thumb(page_settings.banner_sm_width, page_settings.banner_sm_height, {"mode": "crop"}) }}" alt="{{ page.banner_sm.description }}" class="img-fluid w-100 rounded-3">
        </picture>
    </div>
{% endif %}

<h1 class="mb-5">
    {{ post.title }}
</h1>

<div class="content">
    {{ post.content|raw }}
</div>

<div class="row row-cols-2 mt-5 g-4 row-cols-sm-3 row-cols-lg-4" id="gallery">
    {% for gallery_image in post.featured_images %}
        <div class="col">
            <div class="position-relative">
                <img src="{{ gallery_image.thumb(520, 350, {"mode": "crop"}) }}" alt="{{ gallery_image.description }}" class="img-fluid w-100 rounded-1">

                <a href="{{ image.path }}" class="image-link position-absolute start-0 w-100 top-0 h-100" data-external-thumb-image="{{ image.path }}"></a>
            </div>
        </div>
    {% endfor %}
</div>
